## ID : 816000325
## Name: Ajay Sieunarine
## Email: ajay.sieunarine@my.uwi.edu

In this assignment I will use the provided survey to determine how companies treat employees burdened with mental health issues.

1. Are companies giving them enough attention?
2. Are they giving them benefits?
3. Are they treating them fairly?
4. Are they being given adequate recovery time (if needed)?
5. Are they being medically treated?

In [130]:
import pandas as pd # library to help with files and dataframes
from matplotlib import pyplot as plt # package to help with plotting points 
import seaborn as sns # package to help with graphs and plots for data vis
import numpy as np # library to help with data structs, np.array etc
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

In [131]:
df = pd.read_csv('survey.csv')

In [132]:
df.head() # check to see if the file is read into a dataframe

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [133]:
df = df.drop([ # drop the unnecessary cols
    'Timestamp', 
    'comments', 'no_employees'
], axis=1)

In [134]:
df.head()

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,United States,IL,NaN,No,Yes,Often,No,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,M,United States,IN,NaN,No,No,Rarely,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,Canada,NaN,NaN,No,No,Rarely,No,Yes,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,No,Yes,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,United States,TX,NaN,No,No,Never,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

In [135]:
df.dtypes

Age                           int64
Gender                       object
Country                      object
state                        object
self_employed                object
family_history               object
treatment                    object
work_interfere               object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
dtype: object

# I will now attempt to sanitize the data
- Apply LabelEncoders to the relevant cols
- Change the data type of cols (if needed)

## Changing data types of some cols

In [136]:
# give existing cols their appropriate types
df = df.astype(str)
df['Age'] = df['Age'].astype('int64')
df['Gender'] = df['Gender'].astype('str')
df['self_employed'] = df['self_employed'].astype('str')
df['family_history'] = df['family_history'].astype('str')
df['treatment'] = df['treatment'].astype('str')
df['work_interfere'] = df['work_interfere'].astype('str')
df['remote_work'] = df['remote_work'].astype('str')
df['benefits'] = df['benefits'].astype('str')
df['care_options'] = df['care_options'].astype('str')
df['wellness_program'] = df['wellness_program'].astype('str')
df['seek_help'] = df['seek_help'].astype('str')
df['anonymity'] = df['anonymity'].astype('str')
df['leave'] = df['leave'].astype('str')
df['phys_health_consequence'] = df['phys_health_consequence'].astype('str')
df['phys_health_interview'] = df['phys_health_interview'].astype('str')
df['mental_health_consequence'] = df['mental_health_consequence'].astype('str')
df['coworkers'] = df['coworkers'].astype('str')
df['supervisor'] = df['supervisor'].astype('str')
df['mental_health_interview'] = df['mental_health_interview'].astype('str')
df['obs_consequence'] = df['obs_consequence'].astype('str')

In [137]:
df.dtypes

Age                           int64
Gender                       object
Country                      object
state                        object
self_employed                object
family_history               object
treatment                    object
work_interfere               object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
dtype: object

### Gender Column

- I will use a LabelEncoder to check the entries.
- I will use the built in apply() method to clean the data accordingly

In [138]:
gender_encoder = LabelEncoder()
gender_encoder.fit(df['Gender'])
gender_encoder.classes_

array(['A little about you', 'Agender', 'All', 'Androgyne', 'Cis Female',
       'Cis Male', 'Cis Man', 'Enby', 'F', 'Femake', 'Female', 'Female ',
       'Female (cis)', 'Female (trans)', 'Genderqueer', 'Guy (-ish) ^_^',
       'M', 'Mail', 'Make', 'Mal', 'Male', 'Male ', 'Male (CIS)',
       'Male-ish', 'Malr', 'Man', 'Nah', 'Neuter', 'Trans woman',
       'Trans-female', 'Woman', 'cis male', 'cis-female/femme', 'f',
       'femail', 'female', 'fluid', 'm', 'maile', 'male',
       'male leaning androgynous', 'msle', 'non-binary',
       'ostensibly male, unsure what that really means', 'p', 'queer',
       'queer/she/they', 'something kinda male?', 'woman'], dtype=object)

We can see that applicants entered some very interesting results. I am only interested in Males and Females, however, I will classify the remainders as 'Other'.

In [139]:
# replace the gender column with a new col, labeled 'sex'
def isMale(x):
    if x[0] == 'm':
        if "man" in x or "male" or len(x) == 1:
            return True
    return False

def isFemale(x):
    if x[0] == 'f' or x[0] == 'w':
        if "woman" in x or "female" or len(x) == 1:
            return True
    return False
    
def setGender(x):
    x = str(x.lower())
    if isMale(x):
        return "Male"
    if isFemale(x):
        return "Female"
    else:
        return "Other"
    
df['temp_gender'] = df['Gender'].apply(
    lambda x: setGender(x)
)
df[['Gender', 'temp_gender']].query('temp_gender == "Other"').head()

                    Gender temp_gender
72            Trans-female       Other
83              Cis Female       Other
93   something kinda male?       Other
98                Cis Male       Other
306         queer/she/they       Other

The map/apply method is working.

Now I will drop the temp column.

In [140]:
df['Gender'] = df['temp_gender']
del df['temp_gender']

sex_encoder = LabelEncoder()
sex_encoder.fit(df['Gender'])
print(sex_encoder.classes_)
print(df['Gender'].describe())
df.head()

['Female' 'Male' 'Other']
count     1259
unique       3
top       Male
freq       988
Name: Gender, dtype: object

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,United States,IL,nan,No,Yes,Often,No,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,Male,United States,IN,nan,No,No,Rarely,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,Canada,nan,nan,No,No,Rarely,No,Yes,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,United Kingdom,nan,nan,Yes,Yes,Often,No,Yes,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,United States,TX,nan,No,No,Never,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

### Age Column:

In [141]:
age_encoder = LabelEncoder()
age_encoder.fit(df['Age'])
age_encoder.classes_

array([      -1726,         -29,          -1,           5,           8,
                11,          18,          19,          20,          21,
                22,          23,          24,          25,          26,
                27,          28,          29,          30,          31,
                32,          33,          34,          35,          36,
                37,          38,          39,          40,          41,
                42,          43,          44,          45,          46,
                47,          48,          49,          50,          51,
                53,          54,          55,          56,          57,
                58,          60,          61,          62,          65,
                72,         329, 99999999999], dtype=int64)

We can see that some of the values are extreme outliers (as well as invalid entries). This can affect the the graphs and plots, so I shall set them to 0, find the mean, then replace the 0 values with the mean value.

In [142]:
def pruneAge(x):
    if x >= 100:
        return 0
    if x <= 14:
        return 0
    return x

df['temp_age'] = df['Age'].apply(
    lambda x: pruneAge(x)
)

age_encoder.fit(df['temp_age'])
age_encoder.classes_
df[['Age', 'temp_age']].head()

   Age  temp_age
0   37        37
1   44        44
2   32        32
3   31        31
4   31        31

In [143]:
mean_age = df['temp_age'].mean()
mean_age = round(mean_age)
mean_age

32

In [144]:
def fillAge(x):
    if x == 0:
        return mean_age
    else:
        return x
    
df['temp_age'] = df['temp_age'].apply(
    lambda x: fillAge(x)
)

age_encoder.fit(df['temp_age'])
age_encoder.classes_

array([18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       53, 54, 55, 56, 57, 58, 60, 61, 62, 65, 72], dtype=int64)

all the trash ages have been pruned, now to apply it to the dataframe

In [145]:
df['Age'] = df['temp_age']
del df['temp_age']
age_encoder.fit(df['Age'])
print(age_encoder.classes_)
df.head()

[18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41
 42 43 44 45 46 47 48 49 50 51 53 54 55 56 57 58 60 61 62 65 72]

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,United States,IL,nan,No,Yes,Often,No,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,Male,United States,IN,nan,No,No,Rarely,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,Canada,nan,nan,No,No,Rarely,No,Yes,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,United Kingdom,nan,nan,Yes,Yes,Often,No,Yes,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,United States,TX,nan,No,No,Never,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

### Country Column

In [146]:
country_encoder = LabelEncoder()
country_encoder.fit(df['Country'])
country_encoder.classes_

array(['Australia', 'Austria', 'Bahamas, The', 'Belgium',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Canada', 'China',
       'Colombia', 'Costa Rica', 'Croatia', 'Czech Republic', 'Denmark',
       'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary',
       'India', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Mexico',
       'Moldova', 'Netherlands', 'New Zealand', 'Nigeria', 'Norway',
       'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia',
       'Singapore', 'Slovenia', 'South Africa', 'Spain', 'Sweden',
       'Switzerland', 'Thailand', 'United Kingdom', 'United States',
       'Uruguay', 'Zimbabwe'], dtype=object)

This col is fine

### State Column

In [147]:
state_encoder = LabelEncoder()
state_encoder.fit(df['state'])
state_encoder.classes_

array(['AL', 'AZ', 'CA', 'CO', 'CT', 'DC', 'FL', 'GA', 'IA', 'ID', 'IL',
       'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS',
       'NC', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA',
       'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV',
       'WY', 'nan'], dtype=object)

there are null records present in this column. I will change the null records to "Unknown"

In [148]:
def pruneStates(x):
    if x is None or pd.isnull(x) or x == "nan":
        return "Unknown"
    else:
        return x

df['temp_state'] = df['state'].apply(
    lambda x: pruneStates(x)
)

df[['state', 'temp_state']].query('state == "nan"').head()

   state temp_state
2    nan    Unknown
3    nan    Unknown
7    nan    Unknown
9    nan    Unknown
11   nan    Unknown

In [149]:
df['state'] = df['temp_state']
del df['temp_state']
df.head()

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,United States,IL,nan,No,Yes,Often,No,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,Male,United States,IN,nan,No,No,Rarely,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,Canada,Unknown,nan,No,No,Rarely,No,Yes,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,United Kingdom,Unknown,nan,Yes,Yes,Often,No,Yes,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,United States,TX,nan,No,No,Never,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

### self_employed Column

In [150]:
se_encoder = LabelEncoder()
se_encoder.fit(df['self_employed'])
se_encoder.classes_

array(['No', 'Yes', 'nan'], dtype=object)

Replace nan values with Unknown.

In [151]:
def pruneSE(x):
    if pd.isnull(x) or x == "nan":
        return "Unknown"
    return x

df['temp_se'] = df['self_employed'].apply(
    lambda x: pruneSE(x)
)

df[['self_employed', 'temp_se']].head()

  self_employed  temp_se
0           nan  Unknown
1           nan  Unknown
2           nan  Unknown
3           nan  Unknown
4           nan  Unknown

In [152]:
df['self_employed'] = df['temp_se']
del df['temp_se']

df.head()

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,United States,IL,Unknown,No,Yes,Often,No,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,Male,United States,IN,Unknown,No,No,Rarely,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,Canada,Unknown,Unknown,No,No,Rarely,No,Yes,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,United Kingdom,Unknown,Unknown,Yes,Yes,Often,No,Yes,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,United States,TX,Unknown,No,No,Never,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

### family_history Column

In [153]:
fh_encoder = LabelEncoder()
fh_encoder.fit(df['family_history'])
fh_encoder.classes_

array(['No', 'Yes'], dtype=object)

No changes needed.

### treatment Column

In [154]:
treatment_encoder = LabelEncoder()
treatment_encoder.fit(df['treatment'])
treatment_encoder.classes_

array(['No', 'Yes'], dtype=object)

No changes needed.

### work_interfere column

In [155]:
wi_encoder = LabelEncoder()
wi_encoder.fit(df['work_interfere'])
wi_encoder.classes_

array(['Never', 'Often', 'Rarely', 'Sometimes', 'nan'], dtype=object)

prune nan values

In [156]:
def pruneWI(x):
    if pd.isnull(x) or x == "nan":
        return "Unknown"
    return x

df['temp_wi'] = df['work_interfere'].apply(
    lambda x: pruneWI(x)
)

df[['work_interfere', 'temp_wi']].query('work_interfere == "nan"').head()

   work_interfere  temp_wi
19            nan  Unknown
26            nan  Unknown
37            nan  Unknown
38            nan  Unknown
41            nan  Unknown

In [157]:
df['work_interfere'] = df['temp_wi']
del df['temp_wi']
df.head()

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,United States,IL,Unknown,No,Yes,Often,No,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,Male,United States,IN,Unknown,No,No,Rarely,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,Canada,Unknown,Unknown,No,No,Rarely,No,Yes,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,United Kingdom,Unknown,Unknown,Yes,Yes,Often,No,Yes,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,United States,TX,Unknown,No,No,Never,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No